@import url("https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700,800");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Nanum Myeongjo";
  color: #000000;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #faf3e6;
  background: url("./images/sky.jpg") no-repeat center;
  background-size: cover;
}
#root {
  height: 100vh;
}
a {
  color: #faf3e6;
  text-decoration: none;
  display: block;
}
.Header {
  width: 30vw;
  height: max-content;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 3vh;
  padding: 2vh 0vh;
  border-radius: 15px 30px;
}
.Header a {
  font-size: 3vh;
  display: inline-block;
  width: 5vw;
  height: 3vh;
  text-align: center;
}
.Footer {
  position: absolute;
  bottom: 0;
}
.Footer a {
  margin: 0.5vh;
}
.Landing {
  text-align: center;
  padding-top: 40vh;
  user-select: none;
  height: 60vh;
}
.BodyStructure {
  width: 40vw;
  height: 85vh;
  margin-top: 7vh;
  margin-left: 30vw;
  padding: 2vh;
  color: #faf3e6 !important;
  background-color: #272625;
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2),
    0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  float: left;
}
.BodyAnimation{
  animation: bodyShowUp 3s;
  animation-fill-mode: forwards;
}
.HeaderAnimation{
  opacity: 0;
  animation: headerShowUp 3s 1s;
  animation-fill-mode: forwards;
}
.HeaderStructure {
  width: 8vw;
  height: 50vh;
  margin-top: 30vh;
  margin-right: 15vw;
  padding: 1vw;
  background-color: transparent !important;
  color: #272625 !important;
  float: right;
  position: relative;
}
@keyframes bodyShowUp {
  from {
    opacity: 0;
    background-color: transparent;
  }
  to {
    opacity: 100;
    background-color: #272625;
  }
}
@keyframes headerShowUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@media (max-width: 400px) {
  .BodyStructure {
    position: absolute;
    top: 500px;
    width: 20px;
    height: 20px;
  }
  .HeaderStructure {
    position: absolute;
    top: 0;
  }
}
@media (orientation: landscape) {
  body {
    color: #000000;
  }
}
/* and selector */
@media (orientation: landscape) and (max-width: 200px) {
  body {
    color: #000000;
  }
}
/* or selector */
@media (orientation: landscape), (max-width: 200px) {
  body {
    color: #000000;
  }
}